@model IEnumerable<CursoMVC.App.ViewModels.CategoriaViewModel>

@{
    ViewData["Title"] = "Lista de Categorias";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a class="btn btn-info" asp-action="Create">Nova Categoria</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td class="text-right">
                <a class="btn btn-info" asp-controller="Categorias" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                <a class="btn btn-warning" asp-controller="Categorias" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                <a class="btn btn-danger" asp-controller="Categorias" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
}
    </tbody>
</table>
